@import url('https://fonts.googleapis.com/css2?family=Spartan:wght@500;600;700&display=swap');

* {
  margin: 0;
  padding: 0;
  font-family: 'Spartan', sans-serif;
  font-size: 12px;
  box-sizing: border-box;
}
body {
  
}
.header {

}

.mobileHeader{
  position: fixed;
  background-color: rgba(0, 0, 0, 0.5);
  height: 1000vh;
  min-width: 100%;
}

.whiteBarHeader{
  height: 110px;
  background-color: rgb(255, 255, 255);
  display: flex;
  padding: 20px;
  align-items: center;
}

.close-cross {
  padding-right: 5.12rem;
}
.close-cross {
  background-image: url('./images/icon-close.svg');
  background-repeat: no-repeat;
  width: 16px;
  height: 16px;
}

.menu {
  width: 100%;
  font-weight: 700;
  display: flex;
  justify-content: space-between;
  align-items: flex-end;
}

.menu > div {
  /* background-color: lightblue; */
  font-size: 14px;
  color: hsl(0, 0%, 27%);
}

.slider-wrap {
  display: flex;
  flex-direction: column;
}


.left-img1, .left-img2, .left-img3 {
  min-width: 100%;
  width: 100%;
  height: 100px;
  background-size: contain;
  background-repeat: no-repeat;
}
.left-img1{
  background-image: url('./images/desktop-image-hero-1.jpg');
}
.left-img2{
  background-image: url('./images/desktop-image-hero-2.jpg');
  display: none;
}
.left-img3{
  background-image: url('./images/desktop-image-hero-3.jpg');
  display: none;
}
.slider-controls {
  width: 112px;
  height: 56px;
  padding: 19px;
  background-color: hsl(0, 0%, 27%);
}
.slider-controls-left, .slider-controls-right {
  /* width: 10px; */
  /* height: 10px; */
  
}


.card-title {
  font-size: 27px;
  font-weight: 700;
}


.card-shop-btn-text {
  text-transform: uppercase;
}

.card {
  padding: 25px
}
.card1 {
  display: default;
}
.card2, .card3 {
  display: none;
}
@media only screen and (min-width:769px) {}
