@import url('https://fonts.googleapis.com/css2?family=Spartan:wght@500;600;700&display=swap');
html, body {
  overflow-x: hidden;
}
* {
  margin: 0;
  padding: 0;
  font-family: 'Spartan', sans-serif;
  font-size: 12px;
  box-sizing: border-box;
  
}

.open-header {
  position: relative;
  /* display: none; */
  z-index: 3; 
  /* background-color: blue; */
  
    
}
.closed-header{
  position: relative;
  /* z-index: -2 */
}

.logo-wrapper {
  position: absolute;
  display: flex;
  justify-content: center;
  /* margin: auto; */
  width: 100%;
  /* background-color: rgb(77, 102, 102); */
}
.logo-img {
  /* position: absolute; */
  display: block;
  margin-left: auto;
  margin-right: auto;
  height: 16px;
  margin-top: 25px;
  /* background-color: ; */
  
}
.burger {
  position: absolute;
  /* background-color: hsl(0, 37%, 53%); */
  margin-top: 25px;
  margin-left: 20px;
}

.blackbg{
  /* display: none; */
  position: fixed;
  height: 1000vh;
  min-width: 100%;
  /* z-index: 1; */
  background-color: rgba(0, 0, 0, 0.5);
  /* top:-999vh */
}

.blackbgHidden {
  background-color: rgba(0, 0, 0, 0);
}
.mobileHeader{
  position: fixed;
  height: 1000vh;
  min-width: 100%;
  z-index: 8;
  background-color: rgba(0, 0, 0, 0.5);
  /* top:-22px; */
  /* display: none; */
  /* transition: top 1000ms ease-in-out; */
}

.mobileHeaderHidden {
  top: -110px;
  background-color: rgba(0, 0, 0, 0);
  z-index: -2;
}

.whiteBarHeader{
  height: 110px;
  background-color: rgb(255, 255, 255);
  display: flex;
  padding: 25px;
  align-items: center;
  /* display: none; */
}


.open-menu-wrap {
  background-color: lightcoral;
  height: 110px;
  width: 100%;
  padding: 25px;
}

.open-menu-logo {
  margin-top: 25px;
color: rgba(160, 192, 45, 0.527);
  background-image: url('./images/logo.svg');
  background-repeat: no-repeat;
  height: 116px;
  margin-left: auto;
  margin-right: auto;
}

.close-cross {
  padding-right: 5.12rem;
  background-image: url('./images/icon-close.svg');
  background-repeat: no-repeat;
  width: 16px;
  height: 16px;
}
.menu {
  width: 100%;
  font-weight: 700;
  display: flex;
  justify-content: space-between;
  align-items: flex-end;
}

.menu > div {
  /* background-color: lightblue; */
  font-size: 14px;
  color: hsl(0, 0%, 27%);
}

.slider-wrap {
  display: flex;
  flex-direction: column;
  position: relative;
}

.left-slider {
  position: relative;
}

.left-img1-mobile, .left-img2-mobile, .left-img3-mobile {
  height: 370px;
  /* background-color: lime; */
  background-size:  cover;
  background-repeat: no-repeat;
}
.left-img1-mobile{
  background-image: url('./images/mobile-image-hero-1.jpg');
}
.left-img2-mobile{
  background-image: url('./images/mobile-image-hero-2.jpg');
  display: none;
}
.left-img3-mobile{
  background-image: url('./images/mobile-image-hero-3.jpg');
  display: none;
}

.left-img1{
  background-image: url('./images/desktop-image-hero-1.jpg');
}
.left-img2{
  background-image: url('./images/desktop-image-hero-2.jpg');
  display: none;
}
.left-img3{
  background-image: url('./images/desktop-image-hero-3.jpg');
  display: none;
}
.slider-controls {
  position: absolute;
  width: 112px;
  height: 56px;
  display: flex;
  justify-content: space-between;
  bottom: 0;
  right: 0;
  background-color: black
}
.slider-controls-left, .slider-controls-right {
  width: 18px;
  height: 18px;
  color: hsl(0, 0%, 27%);
  background-size: contain;
  background-repeat: no-repeat;
  background-image: url('./images/icon-angle-left.svg');

}
.slider-controls-right {
  background-image: url('./images/icon-angle-right.svg');
}
.slider-controls-left-wrapper, .slider-controls-right-wrapper{
  padding: 20px;
}

.slider-controls-left-wrapper:hover, .slider-controls-right-wrapper:hover {
  background-color: hsl(0, 0%, 63%)
  
}
.card-title {
  font-size: 27px;
  font-weight: 700;
  margin-top: 40px;
  margin-bottom: 1.3rem;
  
}


.card-shop-btn {
  margin-top: 2rem;
  display: flex
}
.card-shop-btn-text {
  text-transform: uppercase;
  letter-spacing: .8rem;
  font-weight: 600;
  padding-right: 3rem;
}

.card-shop-btn-arrow {
  background-image: url('./images/icon-arrow.svg');
  width: 40px;
  height: 18px;
  color: hsl(0, 0%, 27%);
  background-size: contain;
  background-repeat: no-repeat;
}

.card, .bottom-info-card {
  padding: 25px;
  /* margin-top: 20px; */
}
.card-text, .bottom-info-text  {
  line-height: 150%;
  color: hsl(0, 0%, 63%)
}

.card1 {
  display: default;
}
.card2, .card3 {
  display: none;
}

/* BOTTOM PART */

.bottom-info-wrap {
  margin-top: 4rem;
  display: flex;
  flex-direction: column;
}

.about-dark-img,.about-light-img{
  min-width: 100%
}

.bottom-info-card {
  padding-top: 50px;
  padding-bottom: 50px;
  
}
.bottom-info-title {
  text-transform: uppercase;
  font-weight: 700;
  letter-spacing: .5rem;
  padding-bottom: 20px;
}

.bottom-img1 {
  background-image: url('./images/image-about-dark.jpg');
}


.bottom-img2 {
  background-image: url('./images/image-about-light.jpg');
}

@media only screen and (min-width:769px) {}
