@import url('https://fonts.googleapis.com/css2?family=Spartan:wght@500;600;700&display=swap');

* {
  margin: 0;
  padding: 0;
  font-family: 'Spartan', sans-serif;
  font-size: 12px;
  box-sizing: border-box;
  
}
body {
  /* background-color: rgb(28, 141, 135); */
  }

.logo-wrapper {
  position: absolute;
  display: flex;
  justify-content: center;
  /* margin: auto; */
  width: 100%;
  /* background-color: rgba(240, 128, 128, 0.377); */
}
.logo-img {
  /* position: absolute; */
  display: block;
  margin-left: auto;
  margin-right: auto;
  height: 16px;
  margin-top: 25px;
  
}
.mobileHeader{
  position: fixed;
  /* background-color: rgba(0, 0, 0, 0.5); */
  height: 1000vh;
  min-width: 100%;
}

.whiteBarHeader{
  height: 110px;
  background-color: rgb(255, 255, 255);
  display: flex;
  padding: 25px;
  align-items: center;
  display: none;
}

.open-menu-btn {
  padding-right: 5.12rem;
  background-image: url('./images/icon-hamburger.svg');
  background-repeat: no-repeat;
  width: 16px;
  height: 16px;
  margin: 25px;
  position: absolute;
}
.open-menu-wrap {
  background-color: lightcoral;
  height: 110px;
  width: 100%;
  padding: 25px;
  
  /* align-items: center; */
  /* display: none; */
}

.open-menu-logo {
  
  
  /* padding: 25px; */
  margin-top: 25px;
color: rgba(160, 192, 45, 0.527);
  background-image: url('./images/logo.svg');
  background-repeat: no-repeat;
  /* background-size: contain; */

  height: 116px;
  /* width: 100%; */

  /* display: block; */
  margin-left: auto;
  margin-right: auto;
  /* width: 40%; */
}

.close-cross {
  padding-right: 5.12rem;
  background-image: url('./images/icon-close.svg');
  background-repeat: no-repeat;
  width: 16px;
  height: 16px;
}
.menu {
  width: 100%;
  font-weight: 700;
  display: flex;
  justify-content: space-between;
  align-items: flex-end;
}

.menu > div {
  /* background-color: lightblue; */
  font-size: 14px;
  color: hsl(0, 0%, 27%);
}

.slider-wrap {
  display: flex;
  flex-direction: column;
  
}

.left-slider {
  position: relative;
}
/* .left-img1, .left-img2, .left-img3{} */
.left-img1-mobile, .left-img2-mobile, .left-img3-mobile {
  
  height: 370px;
  /* background-color: lime; */
  background-size:  cover;
  background-repeat: no-repeat;
  /* background-position: top left; */
}
.left-img1-mobile{
  background-image: url('./images/mobile-image-hero-1.jpg');
}
.left-img2-mobile{
  background-image: url('./images/mobile-image-hero-2.jpg');
  display: none;
}
.left-img3-mobile{
  background-image: url('./images/mobile-image-hero-3.jpg');
  display: none;
}

.left-img1{
  background-image: url('./images/desktop-image-hero-1.jpg');
}
.left-img2{
  background-image: url('./images/desktop-image-hero-2.jpg');
  display: none;
}
.left-img3{
  background-image: url('./images/desktop-image-hero-3.jpg');
  display: none;
}
.slider-controls {
  position: absolute;
  width: 112px;
  height: 56px;
  display: flex;
  justify-content: space-between;
  padding: 20px;
  /* padding: 19px; */
  /* top: 10%; */
  /* top: 56px; */
  /* bottom: 313px; */
  bottom: 0;
  /* top: 370px; */
  right: 0;
  
  background-color: black
}
.slider-controls-left, .slider-controls-right {
  width: 18px;
  height: 18px;
  color: hsl(0, 0%, 27%);
  background-size: contain;
  background-repeat: no-repeat;
  background-image: url('./images/icon-angle-left.svg');

}
.slider-controls-right {
  background-image: url('./images/icon-angle-right.svg');
}


.card-title {
  font-size: 27px;
  font-weight: 700;
}


.card-shop-btn-text {
  text-transform: uppercase;
}

.card {
  padding: 25px
}
.card1 {
  display: default;
}
.card2, .card3 {
  display: none;
}
@media only screen and (min-width:769px) {}
